{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="shortcut icon" href="{% static 'images/5056179b42b174f.jpg' %}" type="image/x-icon">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body style="background-color: black;" >
    

    <div class="text-center" style="padding:50px 0">
        <div class="logo">register</div>
        <!-- Main Form -->
        <div class="login-form-1">
            <div class="login-group">
            <form id="register-form" class="text-left" action="" method="POST">
                {% csrf_token %}
                <div class="login-form-main-message"></div>
                <div class="main-login-form">
                    <div class="login-group">
                        <div class="form-group">
                            <label for="username" class="sr-only">Username</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="username">
                        </div>
                        <div class="form-group">
                            <label for="password1" class="sr-only">Password</label>
                            <input type="password" class="form-control" id="password1" name="password1" placeholder="password">
                        </div>
                        <div class="form-group">
                            <label for="password2" class="sr-only">Password Confirm</label>
                            <input type="password" class="form-control" id="password2" name="password2" placeholder="confirm password">
                        </div>
                        
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="text" class="form-control" id="email" name="email" placeholder="email">
                        </div>
                        <div class="form-group">
                            <label for="first_name" class="sr-only">Full Name</label>
                            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="first name">
                        </div>
                        <div class="form-group">
                            <label for="last_name" class="sr-only">Full Name</label>
                            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="last name">
                        </div>
                    <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
                </div>
                <div class="etc-login-form">
                    <p>already have an account? <a href="/accounts/login">login here</a></p>
                </div>
            </form>

            {% for message in messages %}

            <h2 class="text-danger">{{ message }}</h2>

            {% endfor %}

        </div>
    
    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/reg.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
</body>
</html>